<!DOCTYPE html>
<html lang="fr">

<head>
    <title>VELIB' | vélibes à paris </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <span>
            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/db/Logo_Syndicat_Autolib%27_et_V%C3%A9lib%27_M%C3%A9tropole.svg/langfr-280px-Logo_Syndicat_Autolib%27_et_V%C3%A9lib%27_M%C3%A9tropole.svg.png" class="logo"/>
        </span>
        <ul>
            <li>
                <a href="/front-areplacer/index.html">
                    Accueil
                </a>
            </li>
            <li>
                <a href="/front-areplacer/account.html">
                    Espace personnel
                </a>
            </li>
            <li>
                <a href="/front-areplacer/login.html">
                    Connexion
                </a>
            </li>
            <li>
                <a href="/front-areplacer/register.html">
                    Inscription
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <h1>Bienvenue sur votre application Vélib'</h1>
        <div class="logheader">
            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/db/Logo_Syndicat_Autolib%27_et_V%C3%A9lib%27_M%C3%A9tropole.svg/langfr-280px-Logo_Syndicat_Autolib%27_et_V%C3%A9lib%27_M%C3%A9tropole.svg.png"/>
        </div>
    </main>
</body>

</html>